@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-bounce-1 {
  animation: bounce 1s 0.25s infinite;
}

.animate-bounce-2 {
  animation: bounce 1s 0.5s infinite;
}

.animate-bounce-3 {
  animation: bounce 1s 0.75s infinite;
}

.animate-bounce-4 {
  animation: bounce 1s 1.2s infinite;
}

.custom-css {
  background: rgb(205, 98, 90);
  background: linear-gradient(
    90deg,
    rgba(205, 98, 90, 1) 0%,
    rgba(211, 120, 114, 1) 35%,
    rgba(228, 170, 162, 1) 100%
  );
}


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#E0AFA5, #E0AFA5)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}